body  {
  font-family: 'Montserrat', sans-serif;
}


#title {
  background-color: #ff4c68;
  color: #fff;
}
/* Features Section */
#features  {
  padding: 7% 15%;
  background-color: #fff;
  /* position: relative;
  z-index: 1; */
}

.title-image  {
  width: 60%;
  /* position: absolute; */
  right: 30%;
  /* transform: rotate(25deg); */
}

.feature-box  {
  text-align: center;
  padding: 5%;
}

/* testimonial Section */

#testimonials {
  background-color: #ef8172;
  color: #fff;
  text-align: center;
}

.cerousel-item  {
  padding: 7% 15%;
}

/* Press */

#press  {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 4%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 20px 50px;
}

.testimonial-img  {
  width: 25%;
  border-radius: 100%;
  margin: 20px;

}

/* icon */

.emoji  {
  color: #ef8172;
  margin-bottom: 1rem;
  font-size: 64px;
}

.emoji:hover  {
  color: #ff4c68;
}
/* Headings */
h1 {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

h2  {
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: bold;
}

.heading-tag  {
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;

}

.para {
  color: #8f8f8f;
}

.container-fluid  {
  padding: 3% 15% 7%;
}
/* navigation bar */

.navbar {
  padding:0 0 4.5rem;
}


.navbar-brand  {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 4.5rem
}

.nav-item  {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.5rem;
  font-family: 'Montserrat-light', sans-serif;
}

/* Download Buttons */

.download-button  {
  margin: 5% 3% 5% 0%;
}

/* title-img */


/* Priicing Section */

#pricing  {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

/* cta section */

#cta {
  background-color: #ff4c68;
  padding: 7% 15%;
  text-align: center;
}

.cta-h3 {
  font-family: 'Montserrat-Black' sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  color: #fff;
} 

/* Footer Section */

#footer {
  background-color: #fff;
  text-align: center;
  padding: 7% 15%;
}

.footer-fa  {
  margin: 10px;
}

.footer-p {
  color: #8f8f8f;
}

@media (max-width: 1028px) {
  #title  {
    text-align: center;
  }
  .title-image  {
    position: static;
    transform: rotate(0);

  }
}
